@media (max-width: 768px) {
  .rellax {
    transform: none !important;
  }
}

#portfolio {
  animation-duration: 0.3s;
}


.tile.box {
  & {
    position: relative;
    figure img {
      border-radius: 3px;
    }
    figure figcaption.is-overlay {
      top: 4.7%;
      opacity: 1;
      transition: opacity 0.2s ease-in;
      background: rgba(0,0,0,.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &:hover {
    box-shadow: none;
    figure figcaption.is-overlay {
      opacity: 0;
    }
  }
}
